
/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  background: #EEE;
}

/*******************************************************************************
Ball Bounce
*******************************************************************************/
#container1 {
  border: none;
  position: absolute;
  height: 150px;
  width: 100px;
  left: 45%;
  animation: bounce-ball .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

#container2 {
  border: none;
  height: 150px;
  width: 150px;
  animation: ball-container .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

#ball {
  border: none;
  height: inherit;
  width: 150px;
}

#shadow {
  border: none;
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 110px;
  left: 45%;
  border-radius: 50%;
  background: rgba(20, 20, 20, .3);
  box-shadow: 0px 0 20px 35px rgba(20,20,20, .3);
}

.shadow-bounce {
  animation: shadow-bounce .7s cubic-bezier(0.10, 2.40, 0.85, 2.50) infinite;
}

.ball-roll {
  animation: ball-roll .7s linear infinite;
}

/*for some specialty browsers*/
@keyframes ball-roll {
  to {
    transform: rotate(-180deg);
  }
}

@keyframes shadow-bounce {
  from, to {
    transform: scale(.35);
    opacity: 1;
 }
  80% {
    transform: scale(.65);
    opacity: .7;
  }
}

@keyframes ball-container {
  from, to {
    height: 130px;
  }
  90% {
    height: 145px;
  }
}

@keyframes bounce-ball {
  from, to {
    bottom: 280px;
    height: 85px;
    transform: scale(1);
  }
  75% {
    bottom: 395px;
    height: 93px;
    transform: scale(1.1);
  }
}
