/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #F2F2F2;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /*-webkit-font-smoothing: antialiased;*/
}

p {
  margin: 10px 0 15px 0;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 0px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
/*
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
*/
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/*******************************************************************************
Ball Bounce
*******************************************************************************/
#container1 {
  border: none;
  position: absolute;
  height: 150px;
  width: 100px;
  left: 45%;
  /*-webkit-animation: bounce-ball .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
  animation: bounce-ball .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
  /*-moz-animation: bounce-ball .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
  /*-o-animation: bounce-ball .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
}

#container2 {
  border: none;
  height: 150px;
  width: 150px;
  /*-webkit-animation: ball-container .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
  animation: ball-container .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
  /*-moz-animation: ball-container .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
  /*-o-animation: ball-container .7s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;*/
}

#ball {
  border: none;
  height: inherit;
  width: 150px;
}

#shadow {
  border: none;
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 110px;
  left: 45%;
  border-radius: 50%;
  background: rgba(20, 20, 20, .1);
  box-shadow: 0px 0 20px 35px rgba(20,20,20, .1);
}

.shadow-bounce {
  /*-webkit-animation: shadow-bounce .7s cubic-bezier(0.10, 2.40, 0.85, 2.50) infinite;*/
  animation: shadow-bounce .7s cubic-bezier(0.10, 2.40, 0.85, 2.50) infinite;
  /*animation: shadow-fade .7s ease-out infinite;*/
  /*animation: shadow-bounce .7s ease infinite; - works but need opacity*/
  /*-moz-animation: shadow-bounce .7s cubic-bezier(0.10, 2.40, 0.85, 2.50) infinite;*/
  /*-o-animation: shadow-bounce .7s cubic-bezier(0.10, 2.40, 0.85, 2.50) infinite;*/
}

.ball-roll {
  /*-webkit-animation: ball-roll .7s linear infinite;*/
  animation: ball-roll .7s linear infinite;
  /*-wmoz-animation: ball-roll 1.2s ease infinite;*/
  /*-o-animation: ball-roll 1.2s ease infinite;*/
}

/*for some specialty browsers*/
@keyframes ball-roll {
  to {
    transform: rotate(-180deg);
  }
}

@keyframes shadow-bounce {
  from, to {
    transform: scale(.35);
    opacity: 1;
 }
  80% {
    transform: scale(.65);
    opacity: .7;
  }
}

@keyframes ball-container {
  from, to {
    height: 130px;
  }
  90% {
    height: 145px;
  }
}

@keyframes bounce-ball {
  from, to {
    bottom: 300px;
    height: 85px;
  }
  75% {
    bottom: 395px;
    height: 93px;
  }
}

/*for modern browsers
@-webkit-keyframes ball-roll {
  to {
    -webkit-transform: rotate(-180deg);
  }
}

@-webkit-keyframes shadow-bounce {
  from, to {
    -webkit-transform: scale(.35);
  }
  80% {
    -webkit-transform: scale(.65);
  }
}

@-webkit-keyframes ball-container {
  from, to {
    height: 130px;
  }
  90% {
    height: 145px;
  }
}


@-webkit-keyframes bounce-ball {
  from, to {
    bottom: 600px;
    height: 85px;
  }
  75% {
    bottom: 695px;
    height: 93px;
  }
}

for mozilla browsers
@-moz-keyframes ball-roll {
  to {
    -moz-transform: rotate(-180deg);
  }
}

@-moz-keyframes shadow-bounce {
  from, to {
    -moz-transform: scale(.35);
  }
  80% {
    -moz-transform: scale(.65);
  }
}

@-moz-keyframes ball-container {
  from, to {
    height: 130px;
  }
  90% {
    height: 145px;
  }
}

@-moz-keyframes bounce-ball {
  from, to {
    bottom: 600px;
    height: 85px;
  }
  75% {
    bottom: 695px;
    height: 93px;
  }
}


for opera browsers
@-o-keyframes ball-roll {
  to {
    -o-transform: rotate(-180deg);
  }
}

@-o-keyframes shadow-bounce {
  from, to {
    -o-transform: scale(.35);
  }
  80% {
    -o-transform: scale(.65);
  }
}

@-o-keyframes ball-container {
  from, to {
    height: 130px;
  }
  90% {
    height: 145px;
  }
}

@-o-keyframes bounce-ball {
  from, to {
    bottom: 600px;
    height: 85px;
  }
  75% {
    bottom: 695px;
    height: 93px;
  }
}

@-webkit-keyframes bounce {
  from, to {
    bottom: 95px;
  }
  75% {
    bottom: 130px;
  }
}

@-webkit-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 35px;
  }
}

@keyframes bounce {
  from, to {
    bottom: 95px;
  }
  75% {
    bottom: 130px;
  }
}

@keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 35px;
  }
}

@-moz-keyframes bounce {
  from, to {
    bottom: 95px;
  }
  75% {
    bottom: 130px;
  }
}

@-moz-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 35px;
  }
}

@-o-keyframes bounce {
  from, to {
    bottom: 95px;
  }
  75% {
    bottom: 130px;
  }
}

@-o-keyframes squish {
  from, to {
    height: 0px;
  }
  88% {
    height: 35px;
  }
}*/
